

<div class=" conatiner conatiner-fluid">
  <div>
    <h5><Sub></Sub> Customers </h5>
    <hr>
  </div>
  <div class="subContainer">
    <h5 style="margin-left: 10px;"> Customers / <small> Home</small> <a>Home</a> </h5>

   
  <hr>
  
  <!-- seerach and date end here -->

  
<div>
  <input type="search" style="margin-right: 50px;" placeholder="Search here ">
</div>
  <hr>
  
  <!-- table starts here -->

  <div>

    <table class="table table-hover responsivetable table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>USER ID</th>
           <th>Payemnt Type</th>

           <th>Payment Address</th>
           <th>Amount Requested</th>
           <th>Remark</th>

           <th>Name</th>
           <th> Email</th>
           <th>Status</th>
           <th>Date</th>
           <th>Actions</th>
         </thead>
          
        
    



      <tbody>
        <tr>
          <td>1</td>
          <td>cvk</td>
          <td>upi</td>
          <td>HYd</td>
          <td>5586757</td>
          <td>good</td>
          <td>vinod</td>
          <td>vino@gmail.com</td>
          <td>delivered</td>
          <td>10/09/2020</td>

           <td>  
            <i class="fa fa-edit" aria-hidden="true" style="color: blue;"></i> 
             <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i> </td>

        </tr>

       
       

     

      </tbody>
    </table>
    
  </div>
  
</div>
</div>

