
  <body>
    <div class="container container-fluid col-xl-12 w-100 container-fluid h-100 #">
    
     <div class="row col-xl-12 col-md-offset-0 custyle" >
       <div>
         <h4  class='prodname'>Categories/ <span>Home</span> 
         </h4>
       </div>
     </div>
   
   
       <div class="row"></div>
             <div class="span12">
                 <form id="custom-search-form" class="form-search form-horizontal pull-right">
                     <div class="input-append span12">
                         <input type="text" class="search-query mac-style" placeholder="Search">
                         <button type="submit" class="btn"><i class="icon-search"></i></button>
                     </div>
                 </form>
             </div>
       </div>
   
   
       <div  class="maniCont">
     <table class="table table-striped table-bordered  custab">
     <thead>
      <th>ID</th>
          <th>USER ID</th>
           <th>Payemnt Type</th>

           <th>Payment Address</th>
           <th>Amount Requested</th>
           <th>Remark</th>

           <th>Name</th>
           <th> Email</th>
           <th>Status</th>
           <th>Date</th>
           <th>Actions</th>
     </thead>
      
    




  <tbody>
    <tr>
      <td>1</td>
      <td>cvk</td>
      <td>upi</td>
      <td>HYd</td>
      <td>5586757</td>
      <td>good</td>
      <td>vinod</td>
      <td>vino@gmail.com</td>
      <td>delivered</td>
      <td>10/09/2020</td>
                  <td class="text-center">
                <a class='btn btn-info btn-xs' href="#">
                  <span class="glyphicon glyphicon-edit">

                  </span> Edit</a> <a href="#" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-remove"></span> Del</a></td>
      <tr>


            
             
   
                       
         
            
     </table>
     </div>
   
   </body>
   