<body>
  <div id="page-container" class="main-admin">
    <nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed w-100">
    <a class="navbar-brand"  routerLink=' '>
       <h2 style="color: greenyellow; margin-top: -7px; position: sticky;">Odzonic Fresh </h2></a>
    <div id="open-menu" class="menu-bar">
      <div class="bars"></div>
    </div>


  </nav>
    <div class="side-bar">
      <div class="side-bar-links">

        <ul class="navbar-nav">

         <li class="nav-item">
            <a  class="nav-links d-block"  routerLink='/login'><i class="fa fa-user" routerLink='/login'></i> DashBoard</a>
          </li>


          <li class="nav-item">
            <a  class="nav-links d-block" routerLink='/order' > <i class="fa fa-shopping-bag" > </i> Orders</a>
          </li>



          <li class="nav-item">
            <a class="nav-links d-block"  routerLink='/products'><i class="fa fa-cube" aria-hidden="true" ></i> Products</a>
          </li>
 

          <!-- <li class="nav-item">
            <a  class="nav-links d-block"  routerLink='/products' ><i class="fa fa-shopping-basket" aria-hidden="true"></i> Products</a>
          </li> -->

          <li class="nav-item">
            <a  class="nav-links d-block" routerLink='/category'><i class="fa fa-suitcase"></i> Category</a>
          </li>


          <li class="nav-item">
            <a class="nav-links d-block"  routerLink='/subCategory' ><i class="fa fa-shopping-basket"  ></i> Sub Categories</a>
          </li>


 

          <li class="nav-item">
            <a routerLink='/customer' class="nav-links d-block"><i class="fa fa-users"></i> Customers</a>
          </li>


          <li class="nav-item">
            <a class="nav-links d-block" routerLink='promoCode'><i class="fa fa-gift" routerLink='promoCode'></i> PromoCodes</a>
          </li>

          <li class="nav-item">
            <a routerLink='paymemt' class="nav-links d-block"> < class="fa fa-credit-card" aria-hidden="true"> </i>Payments</a>
          </li>
        </ul>
      </div>
      <div class="side-bar-icons">

        <div class="icons d-flex flex-column align-items-center">

        <a  class="set-width text-center display-inline-block my-1"  routerLink='/login' ><i class="fa fa-user"  routerLink='/login' ></i></a>

          <a  class="set-width text-center display-inline-block my-1" routerLink='/order' ><i class="fa fa-shopping-bag" routerLink='/order'></i></a>

          <a class="set-width text-center display-inline-block my-1" routerLink='/products' ><i class="fa fa-cube" routerLink='/products'></i></a>

          <a class="set-width text-center display-inline-block my-1"routerLink='/category' ><i class="fa fa-suitcase" routerLink='/category'></i></a>


          <a  class="set-width text-center display-inline-block my-1"  routerLink='/subCategory' ><i class="fa fa-shopping-basket"></i></a>

           <!-- <a class="set-width text-center display-inline-block my-1" ><i class="fa fa-cube"></i></a> -->

          <a class="set-width text-center display-inline-block my-1"   routerLink='/customer'><i class="fa fa-users"></i></a>


          <a  class="set-width text-center display-inline-block my-1" routerLink='promoCode'><i class="fa fa-gift"></i></a>

          <a routerLink=' ' class="set-width text-center display-inline-block my-1" routerLink='paymemt' ><i class="fa fa-credit-card" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  <div class="main-body-content w-100 ets-pt">
    <!-- <div class="table-responsive bg-light">

    </div> -->
  </div>
</div>
</body>
