<div class=" conatiner conatiner-fluid">
  <div>
    <h5>Order List </h5>
    <hr>
  </div>
  <div class="subContainer">
    <h5  style="margin-left: 10px;">  List of Order </h5>

    <div class="searh">
      <h5>From to To  <input type="date" > 
        <input type="date" style="margin-left: 20px;"> 
       
        <div class="dropdown" style="margin-left: 1100px;" >
          <p class=" dropdown-toggle" 
          type="button" id="dropdownMenuButton" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
           All Orders
          </p>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">All Orders</a>
            <a class="dropdown-item" href="#">Another </a>
            <a class="dropdown-item" href="#">Processed</a>
            <a class="dropdown-item" href="#">Shipped</a>
            <a class="dropdown-item" href="#">Deliveried </a>
            <a class="dropdown-item" href="#"> Cancelled </a>
            <a class="dropdown-item" href="#">Returned </a>
          </div>
        </div>
      </h5>
    </div>
  </div> 
  <hr>
  
  <!-- seerach and date end here -->

  
<div>
  <input type="search" style="margin-right: 50px;" placeholder="Search here " class="seachBox">
</div>

<div class="tableData">

  <table class="table table-hover table-responsive table-bordered" style="width:100%">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>User Name</th>
        <th> Mobile</th>
        <th>Total</th>
        <th>Wallet Balance</th>
        <th>Del.Charge</th>
        <th>Discount%</th>
        <th>Final Total</th>
        <th>Payment Type</th>
        <th>Address</th>
        <th>Status</th>
        <th>Order Date</th>
        <th>Action</th>
      </tr>
    </thead>


    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>cvk</td>
        <td>9873468934</td>
        <td>100</td>
        <td>100</td>
        <td>10</td>
        <td>50</td>
        <td>890</td>
        <td>UPI</td>
        <td>HYD</td>
        <td>Cancelled</td>
        <td>10/10/2020</td>
        <td>  
          <i class="fa fa-edit" aria-hidden="true" style="color: blue;"></i> 
           <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i> </td>
      </tr>


      <tr>
        <th scope="row">2</th>
        <td>vinod</td>
        <td>9873468934</td>
        <td>100</td>
        <td>100</td>
        <td>10</td>
        <td>50</td>
        <td>890</td>
        <td>UPI</td>
        <td>HYD</td>
        <td>Delivered</td>
        <td>10/10/2020</td>
        <td>  
          <i class="fa fa-edit" aria-hidden="true" style="color: blue;"></i> 
           <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i> </td>
      </tr>


    </tbody>
  </table>
  
</div>
</div>

