
body{
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}


.wrapper{
  min-height: 100%;
    position: static;
    overflow: hidden;
}
