<div class=" conatiner conatiner-fluid">
  <div>
    <h5>Categories </h5>
    <hr>
  </div>
  <div class="subContainer">
    <h5  style="margin-left: 10px;">  Categories / <a>Home</a> </h5>

   
  <hr>
  
  <!-- seerach and date end here -->

  
<div>
  <input type="search" style="margin-right: 50px;" placeholder="Search here ">
</div>
  <hr>
  
  <!-- table starts here -->

  <div>

    <table class="table table-hover responsivetable table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th> Name</th>
          <th>SubCategory</th>
          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>



      <tbody>
        <tr>
          <td scope="row">1</td>
          <td>cvk</td>
          <td>Mech</td>
          <td>My PIc</td>
          <td >  
            <i class="fa fa-edit" aria-hidden="true" style="color: blue;"></i> 
             <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i> </td>
        </tr>
       

        <tr>
          <td scope="row">1</td>
          <td>cvk</td>
          <td>Mech</td>
          <td>My PIc</td>
          <td >  
            <i class="fa fa-edit" aria-hidden="true" style="color: blue;"></i> 
             <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i> </td>
        </tr>

      </tbody>
    </table>
    
  </div>
  
</div>
</div>

