<body>

<div class=" conatiner conatiner-fluid">
  <div>
    <h5>Payment </h5>
    <hr>
  </div>
  <div class="subContainer">
    <h5  style="margin-left: 10px;" > Payments / <a>Home</a> </h5>

   
  <hr>
  
  <!-- seerach and date end here -->

  
<div>
  <input type="search" style="margin-right: 50px;" placeholder="Search here ">
</div>
  <hr>
  
  <!-- table starts here -->

  <div class="bs-example">
    <table class="table  table-bordered">
        <thead class="tdead-dark ">
            <tr>
               <th>ID</th>
                <th>USER ID</th>
                <th>Payment Type </th>
                <th>Payment Address</th>
                <th> Amount Requested</th>
                <th>Remarks</th>

                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Date</th>
                 <th>Action</th>
            </tr>
        </thead>
        <tbody>
              <tr>
                <td>1</td>
                <td> 11</td>
                <td>upi  </td>
                <td> hyd</td>
                <td> nill </td>
                <td>Goood</td>

                <td>cvk</td>
                <td>cvk@gmail.com</td>
                <td>Deli</td>
                <td>09/10/2020</td>
               <td>  
          <i class="fa fa-edit" aria-hidden="true" style="color: blue;"></i> 
           <i class="fa fa-trash" aria-hidden="true" style="color: red;"></i> </td>
            </tr>
         
        </tbody>
    </table>
</div>
  
</div>
</div>

</body>