<div class=" conatiner conatiner-fluid">
  <div>
    <h5> Category </h5>
    <hr>
  </div>
  <div class="subContainer">
    <h5  style="margin-left: 10px;" >  Category / <a>Home</a> </h5>

   
  <hr>
  
  <!-- seerach and date end here -->

  
<div>
  <input type="search" style="margin-right: 50px;" placeholder="Search here ">
</div>
  <hr>
  
  <!-- table starts here -->

  <div>

    <table class="table table-hover responsivetable table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th> Name</th>
          <th>Sub Title</th>
          <th>Image</th>
          <th>Actions</th>
          
        </tr>
      </thead>



      <tbody>
        <tr>
          <td>101</td>
          <td> cvk</td>
          <td>food</td>
          <td>Image</td>
          <td>  
           <a href=""> <i class="fa fa-edit" aria-hidden="true" style="color: blue; padding: 3px;" ></i> </a>
           <a href=""> <i class="fa fa-trash" aria-hidden="true" style="color: red; padding: 3px;"></i> </a> </td>
        </tr>

       
       

     

      </tbody>
    </table>
    
  </div>
  
</div>
</div>

