<!-- <div class=" conatiner conatiner-fluid">
  <div>
    <h5> Category </h5>
    <hr>
  </div>
  <div class="subContainer">
    <h5  style="margin-left: 10px;">  Category / <a>Home</a> </h5>

   
  <hr>
  
  <!-- seerach and date end here -->

  
<div>
  <input type="search" style="margin-right: 50px;"  class="searchBox"  placeholder="Search here ">
</div>
  <hr>
  
  <!-- table starts here -->

  <div>

    <table class="table table-hover table-lg-responsive  table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>ID</th>
          <th> Name</th>
          <th>Sub Title</th>
          <th>Image</th>
          <th>Actions</th>
          
        </tr>
      </thead>



      <tbody>
        <tr>
          <td>101</td>
          <td> cvk</td>
          <td>food</td>
          <td>Image</td>
          <td>  
           <a href=""> <i class="fa fa-edit" aria-hidden="true" style="color: blue; padding: 3px;" ></i> </a>
           <a href=""> <i class="fa fa-trash" aria-hidden="true" style="color: red; padding: 3px;"></i> </a> </td>
        </tr>

       
       

     

      </tbody>
    </table>
    
  </div>
  
</div>
</div> -->

<div class="container container-fluid col-xl-12 w-100 container-fluid h-100 #">
 
  <div class="row col-xl-12 col-md-offset-0 custyle" >
    <div>
      <h4  class='prodname'>Category/ <span>Home</span> 
      </h4>
    </div>
  </div>


    <div class="row"></div>
          <div class="span12">
              <form id="custom-search-form" class="form-search form-horizontal pull-right">
                  <div class="input-append span12">
                      <input type="text" class="search-query mac-style" placeholder="Search">
                      <button type="submit" class="btn"><i class="icon-search"></i></button>
                  </div>
              </form>
          </div>
    </div>


    <div  class="maniCont">
  <table class="table table-striped table-bordered  custab">
  <thead>
    <th>ID</th>
    <th> Name</th>
    <th>Sub Title</th>
    <th>Image</th>
          <th class="text-center">Action</th>
      
  </thead>

          <tr>
            <td>1 </td>
            <td>cvk </td>
            <td>vk  </td>
            <th>img</th>
              <td class="text-center">
                <a class='btn btn-info btn-xs' href="#">
                  <span class="glyphicon glyphicon-edit">

                  </span> Edit</a> <td href="#" class="btn btn-danger btn-xs"></td>
                    <tr>
      
         
  </table>
  </div>


