<body>
<div class="container container-fluid col-xl-12 w-100 container-fluid h-100 #">
 
  <div class="row col-xl-12 col-md-offset-0 custyle" >
    <div>
      <h4  class='prodname'>Category/ <span>Home</span> 
      </h4>
    </div>
  </div>


    <div class="row"></div>
          <div class="span12">
              <form id="custom-search-form" class="form-search form-horizontal pull-right">
                  <div class="input-append span12">
                      <input type="text" class="search-query mac-style" placeholder="Search">
                      <button type="submit" class="btn"><i class="icon-search"></i></button>
                  </div>
              </form>
          </div>
    </div>


    <div  class="maniCont">
  <table class="table table-striped table-bordered  custab">
  <thead>
    <th>ID</th>
    <th> Name</th>
    <th>Sub Title</th>
    <th>Image</th>
          <th class="text-center">Action</th>
      
  </thead>

          <tr>
            <td>1 </td>
            <td>cvk </td>
            <td>vk  </td>
            <th>img</th>
              <td class="text-center">
                <a class='btn btn-info btn-xs' href="#">
                  <span class="glyphicon glyphicon-edit">

                  </span> Edit</a> <td href="#" class="btn btn-danger btn-xs"></td>
                    <tr>
      
         
  </table>
  </div>
</body>