.pro-details .nav-item{
  height:50px;
}
.mrpDescription{
  list-style:none;
}

.zoom {
  
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;;
  
}

.zoom:hover {
  transform: scale(1.5);
 
}